name: shifttime
description: "Employee Shift Scheduling System"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  animated_splash_screen: ^1.3.0
  extension: ^0.6.0
  http: ^1.2.0
  shared_preferences: ^2.2.2
  intl: ^0.19.0
  syncfusion_flutter_calendar: ^25.1.39

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.2


# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  assets:
  - images/


  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
